.btn-primary {
    background-color: #28a745;
    color: white;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #25963f;
    transition: 0.3s;
}